body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #419bbecc;
}

table{
  border: 1;
}
section{
  display: none;
}
li{
  list-style: none;
  text-decoration: none;
}
a{
  text-decoration: none;
}

table.greyGridTable {
  border: 3px solid #FFFFFF;
  background-color: #A3EE8E;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  background: linear-gradient(145deg, #85499D, #B363D5);
border-radius: 32%;
box-shadow: inset 8.71px 8.71px 42px #6C3C81, inset -8.71px -8.71px 42px #CC70F1;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 5px;
}
table.greyGridTable tbody td {
  font-size: 13px;
  color: #2A3E2D;
}
table.greyGridTable tr:nth-child(even) {
  background: #CDF5E0;
}
table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #1F2533;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

